{% extends 'admin/base.html.twig' %}

{% block title %} Modification d'amis {{ demandeAmi.id }} {% endblock %}

{% block body %}

<div class="container">
    <h1>Modification d'amis {{demandeAmi.id}}</h1>

    {{ form_start(form)}}

    <div class="card bg-light">
        <div class="card-header">
            <h4 class="card-title">Corriger la demande d'amis ?</h4>
        </div>
        <div class="card-body">
            {{form_widget(form)}}

            <button type="submit" class="btn btn-primary">
                Enregistrer les modifications
            </button>
        </div>
    </div>

    {{form_widget(form)}}

    {{form_end(form)}}
</div>

{% endblock %}