{% extends 'admin/base.html.twig' %}

{% block title %}Administration des Amis !{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <h1 class="my-5">Gestion des amis</h1>
        </div>
        <div class="col">
            <a href="{{ path('admin_demandeAmis_create')}}" class="btn btn-primary my-5">Ajouter des amis</a>
        </div>
    </div>
    
    <table class="table table-over">
        <thead>
            <tr>
                <th>Id</th>
                <th>User 1</th>
                <th>User 2</th>
                <th>Statut</th>
                <th>Date</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for ami in amis %}
            <tr>
                <td><span class="badge badge-primary rounded">{{ami.id}}</span></td>
                <td>{{ami.userAjout.pseudo}}</td>
                <td>{{ami.userRec.pseudo}}</td>
                <td>{% if ami.amiStatut == 0 %}En attente{% else %}Accepté{% endif %}
                <td>{{ami.findDay(ami.envoiDate)}} {{ami.findHour(ami.envoiDate)}}</td>
                <td class="text-center">
                    <a href="{{ path('admin_demandeAmis_edit', {'id': ami.id})}}" class="badge badge-pill badge-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_amis_delete', {'id': ami.id})}}" onclick="return confirm('Voulez-vous supprimer la demande d'amis {{ami.id}} ?')" class="badge badge-pill badge-danger"><i class="fas fa-trash"></i></a>
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {{ knp_pagination_render(amis) }}
    </div>
</div>
{% endblock %}
