{% extends 'admin/base.html.twig' %}

{% block title %}Administration des Signalements !{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <h1 class="my-5">Gestion des signalements</h1>
        </div>
        <div class="col">
            <a href="{{ path('admin_signalements_create')}}" class="btn btn-primary my-5">Ajouter un signalement</a>
        </div>
    </div>
    
    <table class="table table-over">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Sujet</th>
                <th>Réponse</th>
                <th>Raison</th>
                <th>Etat</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>

        <tbody>
            {% for signalement in signalements %}
            <tr>
                <td><span class="badge badge-primary rounded">{{signalement.id}}</span></td>
                <td>{{signalement.users.pseudo}}</td>
                <td>{% if signalement.sujets %}{{signalement.sujets.titre}}{% else %}Aucun{% endif %}</td>
                <td>{% if signalement.reponses %}{{signalement.reponses.commentaire|length > 50 ? signalement.reponses.commentaire|slice(0, 50) ~ '...' : signalement.reponses.commentaire}}{% else %}Aucun{% endif %}</td>
                <td>{% if signalement.raison %}{{signalement.raison|length > 50 ? signalement.raison|slice(0, 50) ~ '...' : signalement.raison}}{% else %}Aucune{% endif %}</td>
                <td>{% if signalement.etat == 1 %}Modéré{% else %}En attente{% endif %}</td>
                <td class="text-center">
                    <a href="{{ path('admin_signalements_edit', {'id': signalement.id})}}" class="badge badge-pill badge-primary"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('admin_signalements_delete', {'id': signalement.id})}}" onclick="return confirm('Voulez-vous supprimer le championnat {{signalement.id}} ?')" class="badge badge-pill badge-danger"><i class="fas fa-trash"></i></a>
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {{ knp_pagination_render(signalements) }}
    </div>

</div>

{% endblock %}
