{% extends 'base.html.twig' %}

{% block title %}Signalements{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center" style="margin-top:10px; background-color: azure;
  border-style: outset;">Gestion du sujet {{sujet.id}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
                <a href="{{path('moderateur_approve_sujet', {'id': sujet.id})}}"><button type="button" class="btn btn-info newSujet">Approuver</button></a>
                    <table class="table" border=1 style="background-color: azure;">
                        <tbody>
                            <tr>
                                <td class="text-center" width=15%>
                                    {% if sujet.users %}
                                        {% if sujet.users.filename %}
                                            <img src="{{ vich_uploader_asset(sujet.users, 'imageFile') }}" class="avatarSujMin">
                                        {% else %}
                                            <img src="/images/avatarVide.jpg" class="avatarSujMin">
                                        {% endif %}
                                    {% else %}
                                            <img src="/images/avatarVide.jpg" class="avatarSujMin">
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="row">
                                    <div class="col-lg-12">
                                    {% if sujet.users %}
                                        <a href="{{ path ('user_show', {'slug' : sujet.users.slug}) }}"><strong>{{sujet.users.pseudo}}</strong></a>
                                    {% else %}
                                        <strong><i>Utilisateur supprimé</i></strong>
                                    {% endif %}
                                    <br><br>
                                    {% if sujet.users %}
                                        {% if sujet.users.clubs.logo is defined %}<img src="{{sujet.users.clubs.logo}}" class="logoPreviSuj" alt="Logo"> <span class="clubPays">{{ sujet.users.clubs.navbar }}</span>{% endif %} - 
                                        {% if sujet.users.payss.alpha2 is defined %}<img src="https://www.countryflags.io/{{sujet.users.payss.alpha2}}/flat/16.png"> <span class="clubPays">{{ sujet.users.payss.nomFr }}</span>{% endif %}                            
                                    {% endif %}
                                    <br>
                                    <a href="{{ path('moderateur_sujet_edit', {'id': sujet.id})}}" class="badge badge-pill badge-primary"><i class="fas fa-edit"></i></a>
                                    <a href="{{ path('moderateur_sujet_delete', {'id': sujet.id})}}" class="badge badge-pill badge-danger"><i class="fas fa-trash"></i></a>
                                    </div>
                                    </div>
                                </td> 
                            </tr>
                            <tr>
                                <td class="text-center"><i>{{sujet.findDay(sujet.sujetDate)}}</i><br><i>{{sujet.findHour(sujet.sujetDate)}}</i></td>
                                <td colspan=4 style="word-break:break-word">{{sujet.details | nl2br}}</td>
                            </tr>
                        </tbody>
                    </table>
        <h2 class="text-center" style="margin-top:10px; background-color: azure;
  border-style: outset;">Messages concernant le signalement.</h2>
                     {% for signalement in signalements %}
                        <table class="table">
                            <tr style="background-color: azure;">
                                <td class="text-center" width=15%>
                                    {% if signalement.users %}
                                        {% if signalement.users.filename %}
                                            <img src="{{ vich_uploader_asset(signalement.users, 'imageFile') }}" class="avatarSujMin">
                                        {% else %}
                                            <img src="/images/avatarVide.jpg" class="avatarSujMin">
                                        {% endif %}
                                    {% else %}
                                            <img src="/images/avatarVide.jpg" class="avatarSujMin">
                                    {% endif %}<br> <a href="{{ path ('user_show', {'slug' : signalement.users.slug}) }}"><strong>{{signalement.users.pseudo}}</strong></a>
                                </td>
                            <tr>
                                <td style="word-break:break-word"><strong>{{signalement.raison}}</strong></td>
                            </tr>
                        </table>
                     {% endfor %}
        </div>
        <div class="col-2">
        </div>
        </div>
    </div>

{% endblock %}
